<nav class="navbar navbar-expand-lg bg-red text-white">
  <div class="container">
    <a class="text-white link-reset text-inherit pr-3" href="/">
      Mapping Harm Risk
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-gray-light-light">
		<li class="nav-item">
            <a class="nav-link text-inherit" href="about.html">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-inherit" href="http://suicidepreventionlifeline.org" target="_blank">
              Centers Info
            </a>
          </li>
      </ul>

    </div>
  </div>
</nav>